body {
  padding-top: 50px;
}

h1{
  margin-top: 20px;
  margin-bottom: 30px;
}

section h3{
  margin-top: 0px;
  margin-bottom: 10px;
}

section p{
  margin-bottom: 0px;
}

.card{
  padding: 15px;
  background-color: #e0e0e0;
}

.row .col-xs-12 .card{
  margin-bottom: 20px;
}

.navbar-default .navbar-nav > li > a{
  color: black;
}
